{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Nowy Renesans</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="{% static 'js/home.js' %}"></script>
		<link rel="shortcut icon" href="{% static 'img/logoicon.png' %}" type="image/png">
		{% tailwind_css %}
	</head>

	<body class="bg-darkBg font-inter">
		<div id="sparks-overlay" class="sparks w-full h-full">

			<div id="hero" class="h-[100svh] w-full flex-col lg:flex-row flex gap-24 justify-center items-center">
				<div class="flex flex-col gap-10 items-center lg:items-start">
					<h1 class="text-white font-black text-3xl md:text-6xl text-center lg:text-left">TWOJA TRANSFORMACJA<br>ZACZYNA SIĘ TUTAJ</h1>
					<p class="text-neutral-400 text-md md:text-2xl text-center lg:text-left w-[60%] md:w-auto">Odkryj sprawdzony system, dzięki któremu już setki osób odzyskało<br>kontrolę nad swoim życiem i osiągnęło swoje największe cele.</p>
					<div class="flex flex-col md:flex-row gap-4 md:gap-10 items-center text-white text-md md:text-xl lg:text-2xl">
						<button id="order-btn" class="bg-mainRed font-bold rounded-md h-10 w-56 md:h-16 md:w-72">Zacznij Teraz</button>
						<p class="font-light">lub</p>
						<button id="vsl-btn" class="bg-red10 border border-mainRed rounded-md h-10 w-56 md:h-16 md:w-72 font-bold backdrop-blur-sm">Obejrzyj Wideo</button>
					</div>
					<div class="flex text-neutral-400 gap-4 md:gap-24 mt-16">
						<div class="flex flex-col items-center">
							<h1 class="text-2xl md:text-6xl font-bold">16+</h1>
							<p class="w-[80%] md:w-auto font-semibold text-sm md:text-xl lg:text-base text-center">Ekskluzywnych Kursów</p>
						</div>
						<div class="w-[1px] h-18 lg:h-20 bg-neutral-400"></div>
						<div class="flex flex-col items-center">
							<h1 class="text-2xl md:text-6xl font-bold">300+</h1>
							<p class="w-[80%] md:w-auto font-semibold text-sm md:text-xl lg:text-base text-center">Aktywnych Użytkowników</p>
						</div>
					</div>
				</div>
				<div class="hidden lg:flex relative lg:w-[28vw] lg:h-[28vw]">
					<img src="{% static 'img/nrBig.png' %}" alt="" class="w-[100%] h-[100%]">
					<div class="absolute left-0 top-0 w-full h-full rounded-[50%] bg-redTransparent blur-3xl"></div>
				</div>
			</div>

			<div class="flex flex-col items-center my-40">
				<span class="text-white font-medium lg:font-semibold text-md md:text-2xl leading-loose w-[80%] md:w-[80%] lg:w-[60%] text-center">
					<span class="bg-mainRed rounded-br-xl p-1">Nowy Renesans</span>
					to nie tylko miejsce do nauki - to platforma startowa do zmiany Twojego życia na nowo. Uzyskaj dostęp do
					<span class="bg-mainRed rounded-br-xl p-1">ekskluzywnych programów</span>
					specjalnie zaprojektowanych tak, aby wiedza była łatwa do zrozumienia i wprowadzenia. Odkryj, jak krok po kroku odzyskać kontrolę nad swoim życiem i stać się atrakcyjnym oraz wartościowym
					<span class="bg-mainRed rounded-br-xl p-1">mężczyzną.</span>
				</span>
			</div>
			<!-- WHOSITFOR SECTION -->
			<div class="flex flex-col items-center gap-24 mt-40">
				<h1 class="text-white text-3xl text-center lg:text-left md:text-4xl lg:text-5xl font-black">DLA KOGO JEST NOWY RENESANS?</h1>
				<div class="flex flex-col md:flex-row justify-center lg:justify-left items-center gap-2 lg:gap-6">
					<div class="flex flex-col gap-2 lg:gap-6">
						<div class="flex flex-col gap-3 w-[90vw] md:w-96 bg-darkgray border border-grayBorder rounded-xl p-2">
							<div class="flex gap-2">
								<img src="{% static 'img/book.svg' %}" class="select-none w-4 lg:w-6">
								<span class="text-lg text-white font-bold">Osoby Początkujące</span>
							</div>
							<p class="text-s text-neutral-400">
								Dowiedz się, jak odzyskać kontrolę nad swoim życiem. 
								Odkryj swój prawdziwy cel w życiu, pozbądź się swoich złych nawyków i stań się osobą gotową osiągnąć sukces!
							</p>
						</div>
						<div class="flex flex-col gap-3 w-[90vw] md:w-96 bg-darkgray border border-grayBorder rounded-xl p-2">
							<div class="flex gap-2">
								<img src="{% static 'img/crown.svg' %}" class="select-none w-4 lg:w-6">
								<span class="text-lg text-white font-bold">Osoby Zaawansowane</span>
							</div>
							<p class="text-s text-neutral-400">
								Jesteś na ścieżce rozwoju osobistego od jakiegoś czasu, ale czujesz, że czegoś Ci brakuje?
								Masz rację. W Nowym Renesansie znajdziesz wiedzę i wsparcie społeczności, dzięki którym osiągniesz swoje cele szybciej niż kiedykolwiek wcześniej.
							</p>
						</div>
					</div>
					<img src="{% static 'img/arrows_right.png' %}" class="hidden lg:block h-48 select-none"> 
					<div class="hidden lg:flex items-center justify-center w-48 h-48 border border-mainRed bg-red10 rounded-xl">
						<img src="{% static 'img/nrLogo.svg' %}" class="w-[40%] select-none">
					</div>
					<img src="{% static 'img/arrows_left.png' %}" class="hidden lg:block h-48 select-none"> 
					<div class="flex flex-col gap-2 lg:gap-6">
						<div class="flex flex-col gap-3 w-[90vw] md:w-96 bg-darkgray border border-grayBorder rounded-xl p-2">
							<div class="flex gap-2">
								<img src="{% static 'img/briefcase.svg' %}" class="select-none w-4 lg:w-6">
								<span class="text-lg text-white font-bold">Przedsiębiorcy</span>
							</div>
							<p class="text-s text-neutral-400">
								Twój biznes to odbicie Ciebie - rozwój Twojej firmy nigdy nie wyprzedzi Twojego rozwoju osobistego. 
								Dlatego w Nowym Renesansie Premium znajdziesz narzędzia, dzięki którym 
								wzniesiesz się na zupełnie nowy poziom, a Twój biznes wraz z Tobą.
							</p>
						</div>
						<div class="flex flex-col gap-3 w-[90vw] md:w-96 bg-darkgray border border-grayBorder rounded-xl p-2">
							<div class="flex gap-2">
								<img src="{% static 'img/user.svg' %}" class="select-none w-4 lg:w-6">
								<span class="text-lg text-white font-bold">Osoby w Każdym Wieku</span>
							</div>
							<p class="text-s text-neutral-400">
								Niezależnie od tego, ile masz lat, nie daj sobie wmówić, że jest "za wcześnie" lub "za późno",
								aby zacząć budować życie swoich marzeń.<br>
								W naszej społeczności mamy członków w wieku od 14 do 39 lat, każdy z nich dziękuje młodszemu sobie
								za podjęcie tej decyzji.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- CONTENT SECTION -->
			<div class="flex flex-col items-center gap-24 mt-40">
				<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-black text-center">CO ZNAJDUJE SIĘ W ŚRODKU</h1>
				<div class="flex flex-col lg:flex-row gap-8 items-center lg:items-start justify-center">
					<div class="flex flex-col w-[80%] lg:w-[28%] gap-4">
						<div class="flex items-center gap-4">
							<h1 class="text-5xl md:text-6xl lg:text-7xl text-mainRed font-black">12+</h1>
							<h1 class="text-2xl md:text-3xl lg:text-4xl text-white font-black">EKSKLUZYWNYCH<br>PROGRAMÓW</h1>
						</div>
						<p class="text-md md:text-lg lg:text-xl text-neutral-400 leading-loose">
							W środku znajdziesz spersonalizowany pulpit nawigacyjny z dostępem do wszystkich materiałów, do instrukcji krok po kroku i śledzenia postępów - dzięki
							czemu Twoja podróż będzie zorganizowana i płynna.
						</p>
					</div>

					<div class="flex items-center justify-center w-[80%] lg:w-[35%] h-auto bg-darkgray p-3 rounded-xl red-shadow border border-mainRed">
						<img src="{% static 'img/kursy.png' %}" class="w-full">
					</div>
				</div>
				<div class="flex lg:grid flex-col grid-rows-2 grid-cols-2 gap-8 w-[80%] lg:w-[70%]">

					<div class="flex flex-col gap-4 p-4 bg-darkBg border border-darkgray rounded-xl">
						<div class="flex items-center gap-4">
							<img src="{% static 'img/update.svg' %}" class="w-6 md:w-7 lg:w-8">
							<span class="text-white font-black text-xl md:text-2xl lg:text-3xl">STAŁE AKTUALIZACJE</span>
						</div>
						<p class="text-neutral-400 leading-loose text-sm md:text-md lg:text-lg">
							Nowy Renesans stale rozwija się razem z Tobą. Regularnie aktualizowane treści i nowe programy gwarantują, że będziesz na bieżąco
							z najnowszymi strategiami i możliwościami.
						</p>
					</div>
					<div class="flex flex-col gap-4 p-4 bg-darkBg border border-darkgray rounded-xl">
						<div class="flex items-center gap-4">
							<img src="{% static 'img/bookred.svg' %}" class="w-6 md:w-7 lg:w-8">
							<span class="text-white font-black text-xl md:text-2xl lg:text-3xl">SPOTKANIA I WEBINARY</span>
						</div>
						<p class="text-neutral-400 leading-loose text-sm md:text-md lg:text-lg">
							Dołącz do cotygodniowych rozmów coachingowych z Kacprem, zadawaj mu pytania bezpośrednio, aby uzyskać od niego spersonalizowane porady, 
							jak radzić sobie z konkretnymi wyzwaniami, z którymi się zmagasz.
						</p>
					</div>
					<div class="flex flex-col gap-4 p-4 bg-darkBg border border-darkgray rounded-xl">
						<div class="flex items-center gap-4">
							<img src="{% static 'img/live.svg' %}" class="w-6 md:w-7 lg:w-8">
							<span class="text-white font-black text-xl md:text-2xl lg:text-3xl">WYDARZENIA NA ŻYWO</span>
						</div>
						<p class="text-neutral-400 leading-loose text-sm md:text-md lg:text-lg">
							Odblokuj możliwość uczestniczenia w wydarzeniach na żywo z Kacprem i innymi odnoszącymi sukcesy studentami.
						</p>
					</div>
					<div class="flex flex-col gap-4 p-4 bg-darkBg border border-darkgray rounded-xl">
						<div class="flex items-center gap-4">
							<img src="{% static 'img/community.svg' %}" class="w-6 md:w-7 lg:w-8">
							<span class="text-white font-black text-xl md:text-2xl lg:text-3xl">ELITARNA SPOŁECZNOŚĆ</span>
						</div>
						<p class="text-neutral-400 leading-loose text-sm md:text-md lg:text-lg">
							Ludzcy behawioryści jednoznacznie się zgadzają, jesteś średnią pięciu osób, z którymi spędzasz najwięcej czasu.
							W Nowym Renesansie poznasz ludzi, którzy staną się Twoimi przyjaciółmi, mentorami, partnerami biznesowymi i rywalami, pomagając Ci osiągnąć twoje cele.
						</p>
					</div>
					<div class="flex flex-col gap-4 p-4 bg-darkBg border border-darkgray rounded-xl">
						<div class="flex items-center gap-4">
							<img src="{% static 'img/gift.svg' %}" class="w-6 md:w-7 lg:w-8">
							<span class="text-white font-black text-xl md:text-2xl lg:text-3xl">SPECJALNE BONUSY</span>
						</div>
						<p class="text-neutral-400 leading-loose text-sm md:text-md lg:text-lg">
							Poza kursami oraz wsparciem, w środku Nowego Renesansu będziesz w stanie również odblokować wiele bonusów, które znacznie ułatwią Ci drogę do Twoich celów
							i sprawią, że będzie ona dużo przyjemniejsza oraz zabawniejsza.
							Bonusy są odblokowywane przez aktywność w środku naszej społeczności, oraz czas w niej spędzony.
						</p>
					</div>

				</div>
			</div>
			<!-- QUALITIES SECTION -->
			<div class="flex flex-col items-center gap-24 mt-40">
				<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-black text-center">OSIĄGNIESZ SUKCES DZIĘKI TEMU</h1>
				<div class="flex flex-col lg:flex-row items-center w-[80%] justify-between gap-3">
					<div class="flex flex-col gap-4 p-4 bg-darkgray border border-mainRed backdrop-blur-md rounded-xl w-full lg:w-[80%] custom-gradient-bg red-shadow-2 h-56 md:h-48 lg:h-64">
						<div class="flex items-center gap-4">
							<img src="{% static 'img/bookred.svg' %}" class="select-none w-8">
							<span class="text-white font-bold text-xl md:text-2xl lg:text-3xl">Wiedza</span>
						</div>
						<p class="text-neutral-400 leading-loose text-sm md:text-lg lg:text-xl">
							Zdobądź proste wskazówki i sprawdzone sposoby, które krok po kroku pomogą Ci odzyskać kontrolę nad swoim życiem. 
							A następnie stać się pewnym siebie, wartościowym i atrakcyjnym mężczyzną.
						</p>
					</div>
					<img src="{% static 'img/arrows-left-right.png' %}" class="w-14 rotate-90 lg:rotate-0">
					<div class="flex flex-col gap-4 p-4 bg-darkgray border border-mainRed backdrop-blur-md rounded-xl w-full lg:w-[80%] custom-gradient-bg red-shadow-2 h-56 md:h-48 lg:h-64">
						<div class="flex items-center gap-4">
							<img src="{% static 'img/help.svg' %}" class="select-none w-8">
							<span class="text-white font-bold text-xl md:text-2xl lg:text-3xl">Wsparcie</span>
						</div>
						<p class="text-neutral-400 leading-loose text-sm md:text-lg lg:text-xl">
							Dołącz do społeczności ludzi takich jak Ty, którzy uczynią Twoją drogę łatwiejszą i przyjemniejszą. 
							Przetrwasz trudniejsze chwile, nie poddasz się i ostatecznie osiągniesz swoje upragnione cele.
						</p>
					</div>
					<img src="{% static 'img/arrows-left-right.png' %}" class="w-14 rotate-90 lg:rotate-0">
					<div class="flex flex-col gap-4 p-4 bg-darkgray border border-mainRed backdrop-blur-md rounded-xl w-full lg:w-[80%] custom-gradient-bg red-shadow-2 h-56 md:h-48 lg:h-64">
						<div class="flex items-center gap-4">
							<img src="{% static 'img/individuality.svg' %}" class="select-none w-8">
							<span class="text-white font-bold text-xl md:text-2xl lg:text-3xl">Indywidualne podejście</span>
						</div>
						<p class="text-neutral-400 leading-loose text-sm md:text-lg lg:text-xl">
							Zdobądź porady od Kacpra, które pomogą Ci rozwiązać Twoje problemy. 
							Dzięki temu przestaniesz czuć się bezradny, zyskasz pewność siebie i będziesz wiedział, co robić dalej.
						</p>
					</div>
				</div>
			</div>
			<!-- BONUSES SECTION -->
			<div class="flex flex-col md:items-center gap-12 lg:gap-24 mt-40">
				<div class="flex flex-col items-center gap-2">
					<h2 class="text-mainRed font-black text-lg md:text-xl lg:text-2xl">PO DRODZE</h2>
					<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-black text-center">ODBLOKUJESZ EKSKLUZYWNE BONUSY</h1>
				</div>
				<img src="{% static 'img/userarrow.svg' %}" class="select-none w-16 ml-1 lg:ml-0 md:w-20 lg:w-[4.5rem] sticky top-72 lg:top-64">
				<div class="hidden md:flex flex-col items-center">
					<!-- 1 MIESIĄC -->
					<div class="flex justify-center items-center gap-6">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 bg-tGray opacity-0 pointer-events-none"></div>
						<img src="{% static 'img/path-right.svg' %}" class="select-none h-52 hidden lg:block">
						<img src="{% static 'img/path-right-tablet.svg' %}" class="select-none h-52 lg:hidden">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 bg-tGray backdrop-blur-sm rounded-xl flex flex-col px-4 py-2 gap-4">
							<h1 class="font-bold text-white md:text-xl lg:text-2xl"><span class="md:text-3xl lg:text-4xl text-mainRed font-extrabold">1 </span>MIESIĄC</h1>
							<p class="text-neutral-400 leading-relaxed md:text-md lg:text-lg">
								W pierwszym miesiącu odblokujesz dostęp do cotygodniowych spotkań live oraz kursów w Nowym Renesansie.
							</p>
						</div>
					</div>
					<!-- 3 MIESIĄCE -->
					<div class="flex justify-center items-center gap-6">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 bg-tGray backdrop-blur-sm rounded-xl flex flex-col px-4 py-2 gap-4">
							<h1 class="font-bold text-white md:text-xl lg:text-2xl"><span class="md:text-3xl lg:text-4xl text-mainRed font-extrabold">3 </span>MIESIĄCE</h1>
							<p class="text-neutral-400 leading-relaxed md:text-md lg:text-lg">
								Dostęp do spotkań "in real life" organizowanych w kluczowych miastach - pozwala budować i zacieśniać relacje offline.
							</p>
						</div>
						<img src="{% static 'img/path-left.svg' %}" class="select-none h-52 hidden lg:block">
						<img src="{% static 'img/path-left-tablet.svg' %}" class="select-none h-52 lg:hidden">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 bg-tGray opacity-0 pointer-events-none"></div>
					</div>
					<!-- 6 MIESIĘCY -->
					<div class="flex justify-center items-center gap-6">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 bg-tGray opacity-0 pointer-events-none"></div>
						<img src="{% static 'img/path-right.svg' %}" class="select-none h-52 hidden lg:block">
						<img src="{% static 'img/path-right-tablet.svg' %}" class="select-none h-52 lg:hidden">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 bg-tGray backdrop-blur-sm rounded-xl flex flex-col px-4 py-2 gap-4">
							<h1 class="font-bold text-white md:text-xl lg:text-2xl"><span class="md:text-3xl lg:text-4xl text-mainRed font-extrabold">6 </span>MIESIĘCY</h1>
							<p class="text-neutral-400 leading-relaxed md:text-md lg:text-lg">
								Po tym czasie odblokujesz indywidualną, 30-minutowa konsultacja online z Kacprem, oraz odznaka "Półroczny członek".
							</p>
						</div>
					</div>
					<!-- 9 MIESIĘCY -->
					<div class="flex justify-center items-center gap-6">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 bg-tGray backdrop-blur-sm rounded-xl flex flex-col px-4 py-2 gap-4">
							<h1 class="font-bold text-white md:text-xl lg:text-2xl"><span class="md:text-3xl lg:text-4xl text-mainRed font-extrabold">9 </span>MIESIĘCY</h1>
							<p class="text-neutral-400 leading-relaxed md:text-md lg:text-lg">
								Specjalna Koszulka Nowego Renesansu - ze spersonalizowanym cytatem motywacyjnym, wybranym przez uczestnika.
							</p>
						</div>
						<img src="{% static 'img/path-left.svg' %}" class="select-none h-52 hidden lg:block">
						<img src="{% static 'img/path-left-tablet.svg' %}" class="select-none h-52 lg:hidden">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 bg-tGray opacity-0 pointer-events-none"></div>
					</div>
					<!-- 12 MIESIĘCY -->
					<div class="flex justify-center items-center gap-6">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 bg-tGray opacity-0 pointer-events-none"></div>
						<img src="{% static 'img/path-right.svg' %}" class="select-none h-52 hidden lg:block">
						<img src="{% static 'img/path-right-tablet.svg' %}" class="select-none h-52 lg:hidden">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 custom-gradient-bg border border-mainRed backdrop-blur-sm rounded-xl flex flex-col px-4 py-2 gap-4">
							<h1 class="font-bold text-white md:text-xl lg:text-2xl"><span class="md:text-3xl lg:text-4xl text-mainRed font-extrabold">12 </span>MIESIĘCY (1 ROK)</h1>
							<p class="text-neutral-400 leading-relaxed md:text-md lg:text-lg">
								Po tym czasie odblokujesz limitowany dostęp do ekskluzywnego tajnego kursu wideo + dyplom "Roczny członek społeczności".
							</p>
						</div>
					</div>
					<!-- 24 MIESIĄCE -->
					<div class="flex justify-center items-center gap-6">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 backdrop-blur-sm rounded-xl px-4 py-2 custom-gradient-bg border border-mainRed flex flex-col gap-4">
							<h1 class="font-bold text-white md:text-xl lg:text-2xl"><span class="md:text-3xl lg:text-4xl text-mainRed font-extrabold">24 </span>MIESIĄCE (2 LATA)</h1>
							<p class="text-neutral-400 leading-relaxed md:text-md lg:text-lg">
								Koszulka premium, kubek, ekskluzywny notatnik Nowego Renesansu, oraz zaproszenie VIP na spotkanie z Kacprem na żywo.
							</p>
						</div>
						<img src="{% static 'img/path-left.svg' %}" class="select-none h-52 hidden lg:block">
						<img src="{% static 'img/path-left-tablet.svg' %}" class="select-none h-52 lg:hidden">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 bg-tGray opacity-0 pointer-events-none"></div>
					</div>
					<!-- DODATKOWO -->
					<div class="flex justify-center items-center gap-6">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 bg-tGray opacity-0 pointer-events-none"></div>
						<img src="{% static 'img/path-last.svg' %}" class="select-none h-52 hidden lg:block">
						<img src="{% static 'img/path-last-tablet.svg' %}" class="select-none h-52 lg:hidden">
						<div class="min-w-[40vw] max-w-[40vw] lg:min-w-[25vw] lg:max-w-[25vw] my-4 h-44 custom-gradient-bg border border-mainRed backdrop-blur-sm rounded-xl flex flex-col px-4 py-2 gap-4">
							<h1 class="font-bold text-white md:text-xl lg:text-2xl"><span class="md:text-3xl lg:text-4xl text-mainRed font-extrabold">ORAZ </span>WIĘCEJ BONUSÓW</h1>
							<p class="text-neutral-400 leading-relaxed md:text-md lg:text-lg">
								W Nowym Renesansie, użytkownicy otrzymują bonusy również za czas w społeczności. (dodatkowe kursy, przedpremierowe publikacje itd.)
							</p>
						</div>
					</div>
				</div>
				<div class="flex flex-col items-center md:hidden">
					<!-- 1 MIESIĄC -->
					<div class="flex justify-center items-center gap-6">
						<img src="{% static 'img/path-right-mob.svg' %}" class="select-none h-52">
						<div class="w-[67vw] my-4 h-44 bg-tGray backdrop-blur-sm rounded-xl flex flex-col px-4 py-2 gap-4">
							<h1 class="font-bold text-white text-lg"><span class="text-2xl text-mainRed font-extrabold">1 </span>MIESIĄC</h1>
							<p class="text-neutral-400 leading-relaxed text-sm">
								W pierwszym miesiącu odblokujesz dostęp do cotygodniowych spotkań live oraz kursów w Nowym Renesansie.
							</p>
						</div>
					</div>
					<!-- 3 MIESIĄCE -->
					<div class="flex justify-center items-center gap-6">
						<img src="{% static 'img/path-right-mob.svg' %}" class="select-none h-52">
						<div class="w-[67vw] my-4 h-44 bg-tGray backdrop-blur-sm rounded-xl flex flex-col px-4 py-2 gap-4">
							<h1 class="font-bold text-white text-lg"><span class="text-2xl text-mainRed font-extrabold">3 </span>MIESIĄCE</h1>
							<p class="text-neutral-400 leading-relaxed text-sm">
								Dostęp do spotkań "in real life" organizowanych w kluczowych miastach - pozwala budować i zacieśniać relacje offline.
							</p>
						</div>
					</div>
					<!-- 6 MIESIĘCY -->
					<div class="flex justify-center items-center gap-6">
						<img src="{% static 'img/path-right-mob.svg' %}" class="select-none h-52">
						<div class="w-[67vw] my-4 h-44 bg-tGray backdrop-blur-sm rounded-xl flex flex-col px-4 py-2 gap-4">
							<h1 class="font-bold text-white text-lg"><span class="text-2xl text-mainRed font-extrabold">6 </span>MIESIĘCY</h1>
							<p class="text-neutral-400 leading-relaxed text-sm">
								Po tym czasie odblokujesz indywidualną, 30-minutowa konsultacja online z Kacprem, oraz odznaka "Półroczny członek".
							</p>
						</div>
					</div>
					<!-- 9 MIESIĘCY -->
					<div class="flex justify-center items-center gap-6">
						<img src="{% static 'img/path-right-mob.svg' %}" class="select-none h-52">
						<div class="w-[67vw] my-4 h-44 bg-tGray backdrop-blur-sm rounded-xl flex flex-col px-4 py-2 gap-4">
							<h1 class="font-bold text-white text-lg"><span class="text-2xl text-mainRed font-extrabold">9 </span>MIESIĘCY</h1>
							<p class="text-neutral-400 leading-relaxed text-sm">
								Specjalna Koszulka Nowego Renesansu - ze spersonalizowanym cytatem motywacyjnym, wybranym przez uczestnika.
							</p>
						</div>
					</div>
					<!-- 12 MIESIĘCY -->
					<div class="flex justify-center items-center gap-6">
						<img src="{% static 'img/path-right-mob.svg' %}" class="select-none h-52">
						<div class="w-[67vw] my-4 h-44 custom-gradient-bg border border-mainRed backdrop-blur-sm rounded-xl flex flex-col px-4 py-2 gap-4">
							<h1 class="font-bold text-white text-lg"><span class="text-2xl text-mainRed font-extrabold">12 </span>MIESIĘCY (1 ROK)</h1>
							<p class="text-neutral-400 leading-relaxed text-sm">
								Po tym czasie odblokujesz limitowany dostęp do ekskluzywnego tajnego kursu wideo + dyplom "Roczny członek społeczności".
							</p>
						</div>
					</div>
					<!-- 24 MIESIĄCE -->
					<div class="flex justify-center items-center gap-6">
						<img src="{% static 'img/path-right-mob.svg' %}" class="select-none h-52">
						<div class="w-[67vw] my-4 h-44 backdrop-blur-sm rounded-xl px-4 py-2 custom-gradient-bg border border-mainRed flex flex-col gap-4">
							<h1 class="font-bold text-white text-lg"><span class="text-2xl text-mainRed font-extrabold">24 </span>MIESIĄCE (2 LATA)</h1>
							<p class="text-neutral-400 leading-relaxed text-sm">
								Koszulka premium, kubek, ekskluzywny notatnik Nowego Renesansu, oraz zaproszenie VIP na spotkanie z Kacprem na żywo.
							</p>
						</div>
					</div>
					<!-- ORAZ -->
					<div class="flex justify-center items-center gap-6">
						<img src="{% static 'img/path-last-mob.svg' %}" class="select-none h-52">
						<div class="w-[67vw] my-4 h-44 backdrop-blur-sm rounded-xl px-4 py-2 custom-gradient-bg border border-mainRed flex flex-col gap-4">
							<h1 class="font-bold text-white text-lg"><span class="text-2xl text-mainRed font-extrabold">+ </span>WIĘCEJ BONUSÓW</h1>
							<p class="text-neutral-400 leading-relaxed text-sm">
								W Nowym Renesansie, użytkownicy otrzymują bonusy również za czas w społeczności. (dodatkowe kursy, przedpremierowe publikacje itd.)
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- MORE ALIKE PEOPLE SECTION -->
			<div class="flex flex-col items-center gap-24 mt-40 lg:mt-72">

				<div class="flex flex-col items-center w-[90%] md:w-[65%] lg:w-[50%] gap-10">
					<h1 class="text-center text-white font-black text-3xl md:text-4xl lg:text-5xl">PONAD <span class="text-mainRed">300</span><br>OSÓB TAKICH JAK TY</h1>
					<p class="text-center text-md md:text-lg lg:text-xl text-neutral-400 leading-relaxed">
						W Nowym Renesansie nie ma czegoś takiego jak przeciętność. Zamiast tego dołączysz do ligi wysoce zmotywowanych, obsesyjnych na punkcie sukcesu
						ludzi, którzy dążą do wspólnego celu.<br><br>
						Rozpoczynając swoją przygodę w środku, otrzymasz porady, wsparcie - i co równie ważne - przyjaźń od prawdziwych ludzi przechodzących tę samą
						radykalną transformację, co Ty.
					</p>
					<button id="order-2-btn" class="bg-mainRed text-white font-black text-2xl py-3 lg:py-6 rounded-md lg:rounded-xl w-[80%] md:w-[70%] lg:w-[60%]">KUP SUBSKRYPCJĘ</button>
				</div>

			</div>
			<!-- VSL SECTION -->
			<div id="vsl" class="flex flex-col items-center gap-24 mt-40 lg:mt-72">
				<div class="flex flex-col items-center justify-center gap-10">
					<h1 class="text-3xl md:text-4xl lg:text-5xl font-black text-mainRed text-center">KILKA SŁÓW <span class="text-white">ODE MNIE</span></h1>
					<iframe class="w-[350px] h-[197px] md:w-[600px] md:h-[337px] lg:w-[1000px] lg:h-[562px]" src="https://www.youtube.com/embed/EPbDlUXkOW4?si=8IQVVO50l6jvSNqb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					<button id="order-3-btn" class="bg-mainRed text-white font-black text-2xl py-3 lg:py-6 rounded-md lg:rounded-xl w-[80%] md:w-[70%] lg:w-[70%]">KUP SUBSKRYPCJĘ</button>
				</div>
			</div>
			<!-- TESTIMONIALS SECTION -->
			<div class="flex flex-col items-center gap-24 mt-40 lg:mt-72">
				<div class="flex flex-col items-center gap-2">
					<h2 class="text-mainRed font-black text-lg md:text-xl lg:text-2xl">TESTYMONIAŁY</h2>
					<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-black text-center">CO MÓWIĄ O NAS CZŁONKOWIE?</h1>
				</div>
				<div class="flex gap-6 w-[90vw] flex-wrap justify-center">
					<iframe class="w-[350px] h-[197px] md:w-[600px] md:h-[337px]" src="https://www.youtube.com/embed/AZGThZ6RjW0?si=-Z45u62kb5ofhasQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					<iframe class="w-[350px] h-[197px] md:w-[600px] md:h-[337px]" src="https://www.youtube.com/embed/3cCl5EQvnYI?si=E8tHkC8KiTGCuVPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					
					<span class="block w-[70vw] text-center text-neutral-500 text-sm font-light mt-4">Opinie i wyniki udostępnione na tej stronie pochodzą od osób, które osiągnęły określone wyniki w oparciu o ich wyjątkowe okoliczności, zaangażowanie i doświadczenie. Wyniki te nie są typowe, nie gwarantujemy żadnych konkretnych rezultatów, a wyniki mogą się różnić.</span>
				</div>
			</div>
			<!-- PRICING SECTION -->
			<div id="order" class="flex flex-col items-center gap-24 mt-40 lg:mt-72">
				<div class="flex flex-col items-center gap-2">
					<h2 class="text-mainRed font-black text-lg md:text-xl lg:text-2xl">CENA</h2>
					<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-black text-center">WYBIERZ PLAN DLA SIEBIE</h1>
				</div>
				<div class="flex flex-col lg:flex-row gap-10">
					<div class="flex flex-col justify-between gap-10 bg-darkBg border border-mainRed w-80 md:w-96 px-6 pt-4 pb-6 rounded-lg lg:rounded-xl">
						<div class="flex flex-col gap-10">
							<h1 class="text-white font-black text-3xl self-center">1 MIESIĄC</h1>
							<h1 class="text-5xl md:text-6xl lg:text-7xl font-black text-white self-center"><span class="text-lg md:text-xl lg:text-2xl text-neutral-400 font-bold">PLN</span> 90 <span class="text-lg lg:text-2xl text-neutral-400 font-light">/miesiąc</span></h1>
							<div class="flex flex-col gap-4">
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Odblokuj wszystkie pogramy</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Dostęp do nowych programów</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Dostęp do cotygodniowych spotkań z Kacprem</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Ekskluzywna społeczność podobnie myślących ludzi</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Bonusy odblokowywane aktywnością</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Bonusy odblokowywane czasowo</span>
								</div>
							</div>
						</div>
						<button id="1mo-btn" class="bg-red10 border border-mainRed rounded-md lg:rounded-lg text-white font-bold text-lg md:text-xl lg:text-2xl py-3 mt-5">KUP TERAZ</button>
					</div>
					<div class="flex flex-col justify-between gap-10 bg-red10 backdrop-blur-sm border border-mainRed w-80 md:w-96 px-6 pt-4 pb-6 rounded-lg lg:rounded-xl">
						<div class="flex flex-col gap-10">
							<h1 class="text-white font-black text-3xl self-center">3 MIESIĄCE</h1>
							<h1 class="text-5xl md:text-6xl lg:text-7xl font-black text-white self-center"><span class="text-lg md:text-xl lg:text-2xl text-redtext font-bold">PLN</span> 70 <span class="text-lg lg:text-2xl text-redtext font-light">/miesiąc</span></h1>
							<div class="flex flex-col gap-4">
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Odblokuj wszystkie pogramy</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Dostęp do nowych programów</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Dostęp do cotygodniowych spotkań z Kacprem</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Ekskluzywna społeczność podobnie myślących ludzi</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Bonusy odblokowywane aktywnością</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Bonusy odblokowywane czasowo</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Natychmiastowy dostęp do nagród za miesiące (1-3)</span>
								</div>
							</div>
						</div>
						<button id="3mo-btn" class="bg-mainRed border border-mainRed rounded-md lg:rounded-lg text-white font-bold text-lg md:text-xl lg:text-2xl py-3 mt-5">KUP TERAZ</button>
					</div>
					<div class="flex flex-col justify-between gap-10 bg-darkBg border border-mainRed w-80 md:w-96 px-6 pt-4 pb-6 rounded-lg lg:rounded-xl">
						<div class="flex flex-col gap-10">
							<h1 class="text-white font-black text-3xl self-center">ROCZNA</h1>
							<h1 class="text-5xl md:text-6xl lg:text-7xl font-black text-white self-center"><span class="text-lg md:text-xl lg:text-2xl text-neutral-400 font-bold">PLN</span> 53 <span class="text-lg lg:text-2xl text-neutral-400 font-light">/miesiąc</span></h1>
							<div class="flex flex-col gap-4">
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Odblokuj wszystkie pogramy</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Dostęp do nowych programów</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Dostęp do cotygodniowych spotkań z Kacprem</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Ekskluzywna społeczność podobnie myślących ludzi</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Natychmiastowy dostęp do bonusów za aktywność</span>
								</div>
								<div class="flex gap-6 items-start">
									<img src="{% static 'img/check.svg' %}" class="w-4 md:w-5 lg:w-6">
									<span class="text-white text-sm md:text-md lg:text-lg">Natychmiastowy dostęp do nagród za miesiące (1-12)</span>
								</div>
							</div>
						</div>
						<button id="12mo-btn" class="bg-red10 border border-mainRed rounded-md lg:rounded-lg text-white font-bold text-lg md:text-xl lg:text-2xl py-3 mt-5">KUP TERAZ</button>
					</div>
				</div>
			</div>
			<!-- FAQ SECTION -->
			<div class="flex flex-col items-center gap-24 mt-40 lg:mt-72">
				<div class="flex flex-col items-center gap-2">
					<h2 class="text-mainRed font-black text-lg md:text-xl lg:text-2xl">FAQ</h2>
					<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-black text-center">NAJCZĘSTSZE PYTANIA</h1>
				</div>

				<div class="flex flex-col w-[90%] lg:w-[50%] select-none">
					<div class="question q-open transition-all flex flex-col p-6 gap-6 bg-tGray cursor-pointer backdrop-blur-sm tGrayLight transition-all rounded-t-md lg:rounded-t-xl">
						<div class="flex justify-between">
							<span class="text-md lg:text-xl text-white">Czym jest Nowy Renesans?</span>
							<img src="{% static 'img/plus.svg' %}" class="w-4 transition-all rotate-diagonal">
						</div>
						<p class="w-[90%] text-neutral-400 text-sm lg:text-base leading-relaxed">
							Nowy Renesans to społeczność stworzona, by wynieść Twoją ścieżkę rozwoju na zupełnie nowy poziom. 
							Oferujemy specjalistyczne programy, sesje coachingu na żywo oraz wsparcie inspirującej i zaangażowanej społeczności.
						</p>
					</div>
					<div class="question transition-all flex flex-col p-6 gap-6 bg-tGray cursor-pointer backdrop-blur-sm hover:bg-darkgray transition-all">
						<div class="flex justify-between">
							<span class="text-md lg:text-xl text-white">Jak długo będę mieć dostęp do Nowego Renesansu?</span>
							<img src="{% static 'img/plus.svg' %}" class="w-4 transition-all">
						</div>
						<p class="hidden w-[90%] text-neutral-400 text-sm lg:text-base leading-relaxed">
							Miesięczna subskrypcja zapewnia dostęp tak długo, jak zdecydujesz się pozostać z nami. Subskrypcja 3-miesięczna gwarantuje dostęp na trzy miesiące, 
							z możliwością przedłużenia. Z kolei subskrypcja roczna oferuje pełny rok dostępu do Nowego Renesansu.
						</p>
					</div>
					<div class="question transition-all flex flex-col p-6 gap-6 bg-tGray cursor-pointer backdrop-blur-sm hover:bg-darkgray transition-all">
						<div class="flex justify-between">
							<span class="text-md lg:text-xl text-white">Jak mogę odblokować specjalne bonusy szyciej?</span>
							<img src="{% static 'img/plus.svg' %}" class="w-4 transition-all">
						</div>
						<p class="hidden w-[90%] text-neutral-400 text-sm lg:text-base leading-relaxed">
							System zdobywania poziomów stopniowo odblokowuje nagrody. Jednak wybór subskrypcji 3-miesięcznej lub rocznej zapewnia znacznie szybszy dostęp do dodatkowych bonusów.
						</p>
					</div>
					<div class="question transition-all flex flex-col p-6 gap-6 bg-tGray cursor-pointer backdrop-blur-sm hover:bg-darkgray transition-all">
						<div class="flex justify-between">
							<span class="text-md lg:text-xl text-white">Czy do Nowego Renesansu będą dodawane nowe treści?</span>
							<img src="{% static 'img/plus.svg' %}" class="w-4 transition-all">
						</div>
						<p class="hidden w-[90%] text-neutral-400 text-sm lg:text-base leading-relaxed">
							Tak, wewnątrz regularnie dodawane są nowe treści, aby zapewnić Ci jak największe szanse na sukces.
						</p>
					</div>
					<div class="question transition-all flex flex-col p-6 gap-6 bg-tGray cursor-pointer backdrop-blur-sm hover:bg-darkgray transition-all rounded-b-md lg:rounded-b-xl">
						<div class="flex justify-between">
							<span class="text-md lg:text-xl text-white">Czy powinienem dołączyć jeśli mam mało czasu?</span>
							<img src="{% static 'img/plus.svg' %}" class="w-4 transition-all">
						</div>
						<p class="hidden w-[90%] text-neutral-400 text-sm lg:text-base leading-relaxed">
							Oczywiście! Nasze programy są elastyczne i możesz je bez trudu dostosować do swojego planu dnia. 
							Dają Ci narzędzia niezbędne do osiągnięcia sukcesu, umożliwiając jednoczesne pogodzenie rozwoju z pracą lub nauką.
						</p>
					</div>
				</div>

			</div>
			<!-- FOOTER -->
			<footer class="flex flex-col items-center mt-40 lg:mt-72 gap-14 select-none">
				<div class="flex gap-10 py-4 px-8 bg-red10 border border-mainRed backdrop-blur-sm rounded-md lg:rounded-xl">
					<img id="yt" src="{% static 'img/yt.svg' %}" class="h-8 lg:h-12 select-none cursor-pointer">
					<img id="ig" src="{% static 'img/ig.svg' %}" class="w-6 lg:w-10 select-none cursor-pointer">
				</div>
				<div class="flex gap-10 items-center text-neutral-400 font-semibold text-sm lg:text-lg">
					<a href="/privacy">Polityka Prywatności</a>
					<div class="w-[2px] h-6 bg-neutral-400"></div>
					<a href="/terms">Zasady i Regulamin</a>
				</div>
				<span class="font-regular text-neutral-400 text-center text-sm lg:text-base">©2025 Kacper Chalcarz. Wszelkie Prawa Zastrzeżone.</span>
			</footer>
		</div>
	</body>
</html>
