.scroll-appear {
    animation: revealAnim linear both;
    animation-timeline: view(block);
    animation-range: cover 10% cover 30%;
}
.scroll-left {
    animation: revealLeft linear both;
    animation-timeline: view(block);
    animation-range: cover 5% cover 20%;
}
.scroll-right {
    animation: revealRight linear both;
    animation-timeline: view(block);
    animation-range: cover 5% cover 20%;
}
.scroll-right-x {
    animation: revealRightX linear both;
    animation-timeline: view(block);
    animation-range: cover 5% cover 20%;
}

@keyframes revealAnim {
    0% {
        transform: translateY(10vh);
        opacity: 0;
    } 100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}

@keyframes revealLeft {
    0% {
        transform: translateX(-10vw);
        opacity: 0;
    } 100% {
        transform: translateX(0vw);
        opacity: 1;
    }
}

@keyframes revealRight {
    0% {
        transform: translateX(10vw);
        opacity: 0;
    } 100% {
        transform: translateX(0vw);
        opacity: 1;
    }
}
@keyframes revealRightX {
    0% {
        transform: translateX(10vw) scaleX(-1);
        opacity: 0;
    } 100% {
        transform: translateX(0vw) scaleX(-1);
        opacity: 1;
    }
}


.load-left {
    animation: loadLeft 0.4s ease-out forwards;
}

@keyframes loadLeft {
    0% {
        transform: translateX(-20vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0vw);
        opacity: 1;
    }
}

/* SCROLLBAR */
::-webkit-scrollbar { width: .5vw; background: #323232;}
::-webkit-scrollbar-thumb { width: 2vw; background: #502CE3; border-radius: 10px;}


#imageLanding {
    animation: popUpScale .25s linear forwards;
}
@keyframes popUpScale {
    0% {
        scale: 0;
        opacity: 0%;
    }
    100% {
        scale: 1;
        opacity: 100%;
    }
}